---
title: "Halal Investing: A gentle introduction"
description:
  New to halal investing? Start here, the trunk of the tree. A gentle introduction to all of the branches we'll be diving into later.
---

